@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div class="mainText">
        <h2 class="display-4">Welcome To My Tutorial Formed by Marco</h2>
        <h3> Razor Sharp,Is the Pizaa,For you and Me</h3>
    </div>

    <img class="mainImage w-25" src="~/images/PizzaTime.jpg" />
    <div class="text-center">
        <a class="btn btn-primary mt-1 text-center" asp-area="" asp-page="Checkout/Checkout">Get Me a Pizza</a>
    </div>
</div>
